/* Reset */ 
* {
    margin: 0;
    padding: 0;
}

/* Google font */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Variables */ 

:root{
    /* Sizes */ 
    --header-heigh: 3rem;
    --nav-width: 324px;
    /* Font settings */ 
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* Colors */ 
    --text-color: #fff;
    --first-color: #1a1a1d;
    --second-color: #4e4e50;
    --third-color: #8f2232;
    --fourth-color:#950740;
    --fith-color: #c3073f;
    --active-color: #d5f667;
    /* Font */ 
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /* Margins */ 
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --z-fixed: 100;
}

/* Responsive stuff */ 


@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/* Base */ 

*,::before, ::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-heigh) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background: var(--first-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,h2,h3,p{
    margin: 0;
}

h3{
    font-weight: var(--font-semi-bold);
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

/* Calss */ 

.section {
    padding: 4rem 0 2rem;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--fourth-color);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.section-subtitle { 
    display: block;
    font-size: var(--small-font-size);
    color: var(--third-color);
    text-align: center;
}

 /* Layout */ 

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: var(--fith-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.nav{
    height: var(--header-heigh);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--second-color);
    transition: .5s;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--fith-color);
    cursor: pointer;
}

.nav__item {
    width: 100%;
    margin-bottom: var(--mb-4);
}

.nav__item:hover{
    border-bottom: 1px solid var(--text-color);
    cursor: pointer;
    transition: .3s;
}

.nav__link {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: var(--font-bold);
    color: var(--text-color);
    transition: .3s;
}

.nav__toggle {
    color: var(--second-color);
    font-size: 1.3rem;
    cursor: pointer;
}

/* Show Menu */
.show{
    left: 0;
}

.active{
    color: var(--active-color);
}