/* Reset */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Google font */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Variables */ 

:root{
    /* Sizes */ 
    --header-heigh: 3rem;
    --nav-width: 324px;
    /* Font settings */ 
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* Colors */ 
    --text-color: #fff;
    --first-color: #1a1a1d;
    --second-color: #4e4e50;
    --fifth-color: #c3073f;
    --fifth-color-light: #fc5069;
    --fifth-color-dark: #8b001a;
    /* Font */ 
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /* Margins */ 
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --z-fixed: 100;
}

/* Responsive stuff */ 


@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/* Base */ 

*,::before, ::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-heigh) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background: var(--first-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,h2,h3,p{
    margin: 0;
}

h3{
    font-weight: var(--font-semi-bold);
}

ul{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
}

/* Calss */ 

.sigueRaton{
    display: none;
    width: 25px;
    height: 25px;
    background:var(--fifth-color-light);
    border-radius: 50%;
    position: absolute;
    transition: .1s;
    z-index: 200;
}

.sigueRaton::before{
    content: '';
    width: 35px;
    height: 35px;
    border: 1px solid var(--fifth-color-light);
    position: absolute;
    border-radius: 50%;
    vertical-align: 50%;
    display: flex;
    align-items: center;
}

.section{
    padding: 4rem 0 2rem;
}

.section-title{
    font-size: var(--h1-font-size);
    color: var(--fifth-color-light);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.section-subtitle{ 
    display: block;
    font-size: var(--normal-font-size);
    color: var(--fifth-color);
    text-align: center;
    font-weight: bold;
}

 /* Layout */ 

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: var(--fifth-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.nav{
    height: var(--header-heigh);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--second-color);
    transition: .5s;
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--fifth-color);
    cursor: pointer;
}

.nav__item{
    width: 100%;
    margin-bottom: var(--mb-4);
}

.nav__item:hover{
    border-bottom: 1px solid var(--text-color);
    cursor: pointer;
    transition: .3s;
}

.nav__link{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: var(--font-bold);
    color: var(--text-color);
    transition: .3s;
}

.nav__toggle{
    color: var(--text-color);
    font-size: 2rem;
    cursor: pointer;
}

.nav__logo{
    font-size: 1.3rem;
}

/* Show Menu */
.show{
    left: 0;
}

.active{
    color: var(--fifth-color-light);
}

/* Home */ 

.home__container{
    height: calc(100vh - var(--header-heigh));
    align-items: center;
}

.home__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}

.home__img{
    padding-top: 1.3rem;
    padding-left: .8rem;
    width: 160px;
    height: 160px;
    background-color: var(--fifth-color);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--mb-2);
}

.home__img img{
    width: 155px;
}

.home__title{
    font-size: var(--h1-font-size);
    color: var(--fifth-color);
    font-weight: var(--font-semi-bold);
}

.home__profession{
        font-size: var(--small-font-size);
        color: var(--fifth-color-ligth);
        margin-bottom: var(--mb-5);
}

.home__social{
    margin-bottom: 1rem;
}

.home__social-link{
    display:inline-flex;
    background: var(--first-color);
    color: var(--fifth-color);
    font-size: 2rem;
    border-radius: 50%;
    padding: .40em;
    margin: 0 var(--mb-1);
    transition: .5s ease-in;
}

.home__social-link:hover{
    background: var(--fifth-color);
    color: var(--text-color);
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);;
    -webkit-transform: scale(1.5);
}

.home__button{
    width: 100%;
}

/* Button */

.button{ 
    display: inline-block;
    background: var(--fifth-color);
    color: var(--text-color);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    border: 1px solid var(--fifth-color);
    transition: .5s ease-in;
}

.button:hover{
    background: var(--first-color);
    color: var(--fifth-color);
    border: 1px solid var(--fifth-color);
}

.button:active{
    transform: scale(1.5);
    -moz-transform: scale(.9);
    -o-transform: scale(.9);
    -ms-transform: scale(.9);
    -webkit-transform: scale(.9);
}

.button__light{
    background: var(--fifth-color-light);
    color: var(--text-color);
}

/* About */

.about__container{
    row-gap: 2rem;
}

.about__data{
    text-align: center;
}

.about__description{
    margin-bottom: var(--mb-4);
}

.about__img{
    width: 150px;
    border-radius: .5rem;
    margin: 0 auto;
    margin-bottom: var(--mb-2);
}

.about__information {
    margin-bottom: var(--mb-4);
}

.about__information-title{
    font-size: var(--h3-font-size);
    color: var(--fifth-color);
    margin-bottom:var(--mb-2);
    margin-left: var(--mb-2);
}

.about__information-data{
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: var(--mb-3);
}

.about__information-icon{
    font-size: 1.5rem;
    color: var(--fifth-color-light);
    margin-right: var(--mb-4);
}

.about__information-subtitle{
    display: block;
    font-weight: var(--font-semi-bold);
}

.about__information-subtitle{
    font-size: var(--small-font-size);
}

/* Skills */

.skills__container{
    row-gap: 2rem;
}

.skills__subtitle{
    font-size: var(--h3-font-size);
    color: var(--fifth-color);
    margin-bottom: var(--mb-2);
}

.skills__data{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-2);
    margin-bottom: var(--mb-4);
}

.skills__name{
     text-transform: uppercase;
}

.skills__bar{
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background: var(--fifth-color-light);
}

.skills__html, .skills__sql{
    width: 80%;
}
.skills__js, .skills__php{
    width: 70%;
}
.skills__angular, .skills__ionic, .skills__node{
    width: 60%;
}

/* Container */

.education__container{
    row-gap: 2rem;
}

.education__content{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.education__year, .education__race{
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}

.education__university, .education__speciality{
    display: block;
    font-size: var(--smaller-font-size);
}

.education__year, .education__university{
    text-align: right;
}

.education__time{
    padding: 0 1rem;
    justify-self: center;
}

.education__rounder{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--fifth-color-light);
}

.education__rounder::before{
    content: '';
    position: absolute;
    transform: translate(-4px, -4px);
    -webkit-transform: translate(-4px, -4px);
    -moz-transform: translate(-4px, -4px);
    -ms-transform: translate(-4px, -4px);
    -o-transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--fifth-color-light);
    border-radius: 50%;
}

.education__line{
    display: block;
    height: 90%;
    width: 2px;
    background: var(--fifth-color-light);
    transform: translate(5px, -4px);
    -webkit-transform: translate(5px, -4px);
    -moz-transform: translate(5px, -4px);
    -ms-transform: translate(5px, -4px);
    -o-transform: translate(5px, -4px);
}

.services__container{
    row-gap: 2rem;
}

.services__content{
    padding: 1.5rem .5rem;
    border: 2px solid var(--fifth-color-light);
    border-radius: .5rem;
    text-align: center;
}

.services__icon{
    font-size: 2rem;
    padding: .5rem;
    background: var(--fifth-color);
    color: var(--text-color);
    border-radius: 50%;
    margin-bottom: var(--mb-2);
}

.services__title{
    font-size: 1.25rem;
    color:var(--fifth-color);
    margin-bottom: var(--mb-1);
}

.services__content, .services__icon, .services__description, .services__title{
    transition: .6s;
}

.services__content:hover{
    background: var(--fifth-color);
    border: 2px solid var(--first-color);
}

.services__content:hover .services__icon{
    color:var(--text-color);
    background: var(--first-color);

}

.services__content:hover .services__title{
    color: var(--first-color);
    font-weight: bold;
}

.services__content:hover .services__description{
    color: var(--text-color);
    font-weight: bold;
}

/* Projects in mind */

.project{
    background: var(--first-color);
    padding: 0;
}

.project__container{
    row-gap: 2rem;
}

.project__data{
    text-align: center;
}

.project__title{
    color: var(--fifth-color)
}

.project__description{
    margin-bottom: var(--mb-4);
}

.project__img{
    width: 220px;
    justify-self: center;
}

/* Works */

.works__container{
    justify-items: center;
    row-gap: 2rem;
}

.works__img{
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

.works__data{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(252, 80, 105, .7);
    transition: .3s;
}

.works__link{
    display: inline-flex;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: .25rem;
    margin-bottom: var(--mb-2);
}

.works__title{
    font-size: var(--h2-font-size);
    color: var(--text-color)
}

.works__img:hover .works__data{
    bottom: 0;
}