/* Reset */ 
*{
    margin: 0;
    padding: 0;
}

/* Google font */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Variables */ 

:root{
    /* Sizes */ 
    --header-heigh: 3rem;
    --nav-width: 324px;
    /* Font settings */ 
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* Colors */ 
    --text-color: #fff;
    --first-color: #1a1a1d;
    --second-color: #4e4e50;
    --third-color: #8f2232;
    --fourth-color:#950740;
    --fifth-color: #c3073f;
    --fifth-color-light: #fc5069;
    --active-color: #d5f667;
    /* Font */ 
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /* Margins */ 
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --z-fixed: 100;
}

/* Responsive stuff */ 


@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/* Base */ 

*,::before, ::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-heigh) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background: var(--first-color);
    color: var(--text-color);
    line-height: 1.6;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,h2,h3,p{
    margin: 0;
}

h3{
    font-weight: var(--font-semi-bold);
}

ul{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
}

/* Calss */ 

.section{
    padding: 4rem 0 2rem;
}

.section-title{
    font-size: var(--h1-font-size);
    color: var(--fourth-color);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.section-subtitle{ 
    display: block;
    font-size: var(--small-font-size);
    color: var(--third-color);
    text-align: center;
}

 /* Layout */ 

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: var(--fifth-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.nav{
    height: var(--header-heigh);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--second-color);
    transition: .5s;
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--fifth-color);
    cursor: pointer;
}

.nav__item{
    width: 100%;
    margin-bottom: var(--mb-4);
}

.nav__item:hover{
    border-bottom: 1px solid var(--text-color);
    cursor: pointer;
    transition: .3s;
}

.nav__link{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: var(--font-bold);
    color: var(--text-color);
    transition: .3s;
}

.nav__toggle{
    color: var(--text-color);
    font-size: 2rem;
    cursor: pointer;
}

.nav__logo{
    font-size: 1.3rem;
}

/* Show Menu */
.show{
    left: 0;
}

.active{
    color: var(--fifth-color-light);
}

/* Home */ 

.home__container{
    height: calc(100vh - var(--header-heigh));
    align-items: center;
}

.home__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}

.home__img{
    padding-top: 1.3rem;
    padding-left: .8rem;
    width: 160px;
    height: 160px;
    background-color: var(--fifth-color);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--mb-2);
}

.home__img img{
    width: 155px;
}

.home__title{
    font-size: var(--h1-font-size);
    color: var(--fourth-color);
    font-weight: var(--font-semi-bold);
}

.home__profession{
        font-size: var(--small-font-size);
        color: var(--fifth-color);
        margin-bottom: var(--mb-5);
}

.home__social{
    margin-bottom: 1rem;
}

.home__social-link{
    display:inline-flex;
    background: var(--first-color);
    color: var(--fourth-color);
    font-size: 2rem;
    border-radius: 50%;
    padding: .40em;
    margin: 0 var(--mb-1);
    transition: .5s ease-in;
}

.home__social-link:hover{
    background: var(--fourth-color);
    color: var(--text-color);
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);;
    -webkit-transform: scale(1.5);
}

.home__button{
    width: 100%;
}

/* Button */

.button{ 
    display: inline-block;
    background: var(--fourth-color);
    color: var(--text-color);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    border: 1px solid var(--fourth-color);
    transition: .5s ease-in;
}

.button:hover{
    background: var(--first-color);
    color: var(--fifth-color);
    border: 1px solid var(--fifth-color);
}

.button:active{
    transform: scale(1.5);
    -moz-transform: scale(.9);
    -o-transform: scale(.9);
    -ms-transform: scale(.9);
    -webkit-transform: scale(.9);
}

.button__light{
    background: var(--fifth-color-light);
    color: var(--text-color);
}

/* About */

.about__container{
    row-gap: 2rem;
}

.sbout__data{
    text-align: center;
}

.about__description{
    margin-bottom: var(--mb-4);
}